.projects-section{
    margin-left: 30px;
    font-size: 18px;
    }

    .name{
        font-size: 28px;
        color: rgb(135, 109, 122);
    }
    .description-class{
        margin-left: 100px !important;
        color: rgb(96, 138, 201);
    }

    .part{
        margin-left: 200px;
    }
    .next{
        margin-left: 90px;
    }