<!-- <app-navbar></app-navbar> -->

<div class="projects-section" *ngIf="showProjects" id="project-selector">
    <div class="projects-container">
        <h2 class="title">Projects</h2>
        
        <div class="project-card" *ngFor="let project of projects">
            <h3 class="name">{{ project.name }}</h3>
            <p class="technology"><strong>Technology:</strong> {{ project.technology }}</p>
            <p class="description"><strong>Description:</strong> {{ project.description }}</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
